/*Global CSS rules*/

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.8rem;
  color: #242424;
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #e5e5e3; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #343a4052; 
}
.customer {
  margin: 20px;
  font-size: 5rem;
}


.title {
  color: grey;
  font-size: 18px;
}

.name_user{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px
}

.close_left{

  position: fixed;
  z-index: 1000;
  top: 0;
  width: 310px;
  height: 100vh;
  background-color:white;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);


}
.open_left{
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 310px;
  height: 100vh;
  background-color:white;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  visibility: visible;
  opacity: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.team_id{
  padding-left: 10px
}

.team_id h2{
  color: black;
}

.vehicle_icon{
  width: 120px;
  height: 60px;
}

.team-vehicle h2 {
  margin-left: 10px
}

.order_details_sub{
  margin: 10px;
}

.order_details_sub span {
  margin-left: 10px;
  font-size: larger
}

/* new style */
.section_close{
  height: 40px;
}

.section_rating{
  text-align: center;
}


/* user card  */
.user_card{
  padding: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  font-family: arial;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px !important;
  background-color: #e5e5e3

}

.user_card img{
  border-radius: 5px;
}

.contact{
    text-align: center;
    margin: 15px !important;
    background-color: #e5e5e3;
    text-align: center;
    padding: 10px;
    border-radius: 9px;
}

.section_member{
  margin-bottom: 15px !important
}

.order_details{
  background-color: #ffc107;
  padding: 10px;
  text-align: center
}

.order_title{
  font-size: initial;
  margin-left: 1em;
  margin-top: 0.05em;
  vertical-align: middle;
  display: inline-block;
  line-height: 1;
  color: #202528;
  align-content: center
}

.section_vehicle{
  text-align: center
}

